@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, .light {
    /* LIGHT THEME TOKENS */
    --bg-base: #f5f4fa;
    --bg-sidebar: #fefefe;
    --bg-surface: #e5e3e8;
    --bg-elevated: #f0eff4;
    --bg-hover: #ece9fc;
    --border: #dad9de;

    --text-primary: #111118;
    --text-secondary: #595a5e;
    --text-muted: #6d6d77;

    --accent: #6d5de2;
    --accent-hover: #746a9f;
    --accent-border: #746a9f;

    --user-text: #7b8086;
    --user-bubble: #7b8086;
    --ai-text: #04050a; 

    --success: #059669;
    --danger: #dc2626;
  }

  .dark {
    /* DARK THEME TOKENS */ 
    --bg-base: #141416;
    --bg-sidebar: #19181e;
    --bg-surface: #2c2d32;
    --bg-elevated: #2b2a2f;
    --bg-hover: #2b2934;
    --border: #37363c;

    --text-primary: #feffff;
    --text-secondary: #93939b;
    --text-muted: #8d9099;

    --accent: #7566e3;
    --accent-hover:#6e62ac;
    --accent-border:#6e62ac;

    --user-text: #e8e8f0;
    --user-bubble: #232035;
    --ai-text: #feffff;

    --success: #34d399;
    --danger: #f87171;
  }

  * {
    border-color: var(--border);
  }

  body {
    background-color: var(--bg-base);
    color: var(--text-primary);
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}
